@font-face {
  font-family: 'tetris';
  src: url('fonts/tetris.woff2') format('woff2'),
       url('fonts/tetris.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tetris Blocks';
  src: url('fonts/TetrisBlocks.woff2') format('woff2'),
      url('fonts/TetrisBlocks.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  /* font-family: sans-serif; */
  background-color: #202020;
  color: #fff;
}

.start-wrapper {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  
}
.container {
  width: 963px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  gap: 50px;
  align-items: center;
  align-self: center;
  grid-template-areas: 
  'next game score'
  'next game score';
}

.tetris-title {
  font-family: 'Tetris Blocks';
  margin: 0 0 45px 0;
  font-size: 60px;
}

.tetris-sutitle {
  font-family: 'tetris', sans-serif;
  font-size: 60px;
  margin: 0 0 30px;
}

.game-area {
  display: block;
  margin: 0 auto;
  border: solid #fff;
  border-width: 0 2px 5px 2px;
}
.preview-button {
  grid-column: 2 / 3;
  font-family: 'tetris', sans-serif;
  color: #fff;
  border: 2px solid #fff;
  padding: 40px 70px;
  font-size: 30px;
  text-align: center;
  margin: 0;
}