@font-face {
  font-family: 'tetris';
  src: url('fonts/tetris.woff2') format('woff2'),
       url('fonts/tetris.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Tetris Blocks';
  src: url('fonts/TetrisBlocks.woff2') format('woff2'),
      url('fonts/TetrisBlocks.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  /* font-family: sans-serif; */
  background-color: #202020;
}

.container {
  width: 400px;
  margin: 0 auto;
}

.tetris-title {
  font-family: 'Tetris Blocks';
  text-align: center;
  line-height: 70px;
  margin: 25px 0 75px;
  color: #fff;
}

.tetris-title span {
  font-family: 'tetris', sans-serif;
}

.game-area {
  display: block;
  margin: 0 auto;
  border: solid #fff;
  border-width: 0 2px 5px 2px;
}
.preview-text {
  font-family: 'tetris', sans-serif;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin-top: 200px;
  
}